{% extends 'base.html.twig' %}

{% block body %}

    <h1>Ajouter un nouveau produit</h1>

    {% if product is defined %}
        <form action="{{ path('product_update', {product: product.id}) }}" method="post">
        <input type="hidden" name="_method" value="patch">
    {% else %}
        <form action="{{ path('product_create') }}" method="post">
    {% endif %}

        <input type="hidden" name="token" value="{{ csrf_token("product-form") }}">
        <div class="form-group">
            <label for="addProductFormTitle">Nom du produit</label>
            <input id="addProductFormTitle" type="text" class="form-control" name="title" value="{{ product.title | default('') }}">
        </div>

        <div class="form-group">
            <label for="addProductFormDescription">Description</label>
            <textarea id="addProductFormDescription" class="form-control" name="description">{{ product.description | default('') }}</textarea>
        </div>

        <div class="form-group">
            <label for="addProductFormQuantity">Quantité</label>
            <input id="addProductFormQuantity" type="text" class="form-control" name="quantity" value="{{ product.quantity | default('') }}">
        </div>

        <div class="form-group">
            <label for="addProductFormPrice">Prix</label>
            <input id="addProductFormPrice" type="text" class="form-control" name="price" value="{{ product.price | default('') }}">
        </div>

        {% if product is defined %}
            <button class="btn btn-warning float-right">Éditer un produit</button>
        {% else %}
            <button class="btn btn-primary float-right">Créer un produit</button>
        {% endif %}

    </form>

{% endblock %}